<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        {% if error %}
            <p class="error">{{ error }}</p>
        {% endif %}
        <form method="post">
            Nome: <input type="text" name="nome" class="input-field" required><br>
            CPF: <input type="text" name="cpf" class="input-field" required><br>
            Data de Nascimento: <input type="date" name="data_nascimento" class="input-field" required><br>
            E-mail: <input type="email" name="login" class="input-field" required ><br>
            Senha: <input type="password" name="senha" class="input-field" required><br>
            Telefone: <input type="number" name="tel" class="input-field" required><br>
            <input type="submit" value="Cadastrar" class="submit-button">
        </form>
        <a href="/login">Já tem uma conta? Faça login</a>
    </div>
</body>
</html>
